#header {
	background-color: #b0def2;
	padding-top: 4px;
	box-sizing: border-box;
}

#header img {
	width: 60%;
	margin-left: 20%;
}

#nav {
	margin: 5px;
	box-sizing: border-box;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b0def2;
	width: 100%;
}

#nav li {
    float: left;
		width: 50%;
}

.active {background-color: #56c7f0;}

#nav li a {
    display: block;
    color: white;
    text-align: center;
	padding: 5px 0;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #56c7f0;
	font-weight: bold;
}

#feature {
	padding: 0;
	box-sizing: border-box;
}

#feature a {
	text-decoration: none;
	color: black;
}

#feature tr:hover {
	background-color: #b3ffb3;
}

#feature img{
	float: center;
	width: 50%;
	margin: 0;
	padding: 20px;
	margin-left: 50px;
	align-self: center;
}

#feature tr {background-color: #ccffcc;}

#feature td {vertical-align: top;}

#feature  p{
	line-height: 130%;
	text-align: left;
	padding-left: 10px;
}

#feature h2 {
	line-height: 130%;
	text-align: left;
	padding-left: 10px;
}

#articles{
	border-spacing: 10px;
	box-sizing: border-box;
}

#articles td {background-color: #ccffcc;}

#articles td:hover {
	background-color: #b3ffb3;
}

#articles td {
	width:25%;
	vertical-align: top;
}

#articles a {
	text-decoration: none;
	color: black;
}

#articles h2 {
	text-align: left;
	padding: 0 10px 0 10px;
}

#articles p {
	text-align: left;
	padding: 0 10px 0 10px;
}

#articles img {
	float: center;
	width: 60%;
	margin: 10px;
}

#footer {
	background-color: #b0def2;
	box-sizing: border-box;
	margin: 5px;
	padding: 10px;
	text-align: center;
}

@media screen and (max-width: 1920px) {
	#nav {font-size: 20pt; width:75%; margin-left:12.5%;}
	#header {width:75%; margin-left:12.5%;}
	#feature {width:75%; margin-left:12.5%;}
	#feature h2 {font-size: 30pt;}
	#feature p {font-size: 14pt;}
	#articles {width: 75%; margin-left:12.5%;}
	#footer {width:75%; margin-left:12.5%;}
}

@media screen and (max-width: 1280px) {
	#nav {font-size: 16pt; width:80%; margin-left:10%;}
	#header {width:80%; margin-left:10%;}
	#feature {width:80%; margin-left:10%;}
	#feature h2 {font-size: 14pt;}
	#feature p {font-size: 12pt;}
	#articles {width:80%; margin-left:10%;}
	#footer {width:80%; margin-left:10%;}
}

@media screen and (max-width: 768px) {
	#nav {font-size: 14pt; width:100%; margin-left:0;}
	#header {width:100%; margin-left:0;}
	#feature {width:100%; margin-left:0;}
	#feature h2 {font-size: 16pt;}
	#feature p {font-size: 11pt;}
	#articles {width: 100%; margin-left: 0;}
	#footer {width:100%; margin-left:0%;}
}
